layout {
  gaps 10
  struts {
    top -10
    left -10
    right -10
    bottom -10
  }

  always-center-single-column

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  // If you leave the brackets empty, the windows themselves will decide their initial width.
  default-column-width {}

  focus-ring { off; }
  
  border {
    on
    width 2
  }
  
  tab-indicator {
    place-within-column
    gap 0
    gaps-between-tabs 5
    width 15
    // position "top"
    length total-proportion=0.9
    corner-radius 14
  }
  
  // <- needed for noctalia-shell to set wallpaper
  background-color "transparent"
}
